# MSAS Tutorial Seven

**This tutorial will cover two main topics, scales of data and pivot tables**

**When analyzing data, it is important to be aware that data can come in different types, or scales**

**First, we will define different scales to have a solid conceptual understanding of what each scale means, then we will discuss implications in data analysis**

**The Ratio Scale:**

* The units in the ratio scale are equally spaced
* Zero defines the absence of the variable you are analyzing 
* This means that all mathematical computations are valid on variables in the ratio scale

**Ratio Scale Examples:**

* Height
* Weight
* Velocity
* Yards
* Shots
* Pitches

**The Interval Scale:**

* The units are equally spaced just like the ratio scale
* No true zero, that is to say zero does not define the absence of the variable, but defines a distinct value of the variable
* This means that you have to be careful when performing operations like multiplication and division

**Interval Scale Examples:**

* Temperature
* Direction (think compass)
* X coordinate of defensive players on football field when play starts

**The difference between the ratio and interval scales is subtle, and probably wouldn't change most approaches you might take to the data, but you should have a clear idea of the distinction in the case you are applying more advanced statistical compuations**

**The Ordinal Scale:**

* The order of the units are important/meaningful
* The units are not equally spaced
* This means that many mathematical calculations will not make sense unless you change the scale of the data

**Ordinal Scale Examples:**

* Letter grades at umich
* Income levels
* Satisfaction rating

**The Nominal Scale (categorical):**

* Data is split into categories
* These categories have no order in respect to one another
* Would not even make sense to try to quantify

**Nominal Scale Examples:**

* Position
* Formation
* Play type
* Binary values (true/false)

**The takeaway from scales in data analysis:**

* Have a conceptual understanding of what each scale means to generate better ideas for data analysis
* Understanding scales means that you are less likely to perform bad analysis and arrive at conclusions that are inaccurate or do not make sense
* Pandas has built in functoinaility to help you deal with scales more effectively which we will not go over here, but is useful to know about so you can access them if needed

**Pivot Tables**

**What is a pivot table?**

* A pivot table is a method in pandas that allows us to easily summarize the relationship between two variables in a dataframe at a glance
* A pivot table is itself a dataframe
* A pivot table makes heavy use of the aggregate function, which applies another function to an axis of a dataframe

In [1]:
import pandas as pd
import numpy as np

First read in the dataframe you want to use

In [6]:
pbp = pd.read_csv('UofM 2022 pbp')
pbp.head()

,Unnamed: 0,offense_team_name,defense_team_name,season,week,play_uuid,game_id,drive_uuid,play_game_index,play_drive_index,...,play_contested_catch_attempt,play_pass_made,play_yards_after_contact,play_target_separation,play_pass_placement_displacement,play_tackle_types,play_catch_separation,play_handoff_received,play_ep,play_scrimmage_epa
0,0,Michigan Wolverines,Colorado State Rams,2022/2023,Week 1,884f6cf2-001f-44c5-8c76-ad2213f9eac1,1501304,884f6cf2-001f-44c5-8c76-ad2213f9eac1,1,1,...,NaN,NaN,NaN,NaN,NaN,{},NaN,NaN,NaN,NaN
1,1,Michigan Wolverines,Colorado State Rams,2022/2023,Week 1,cfb0895e-02d4-4332-8522-326cd2bfa97b,1501304,884f6cf2-001f-44c5-8c76-ad2213f9eac1,2,2,...,NaN,NaN,2.92,NaN,NaN,"{""Assisted - Success"",""Assisted - Success"",""So...",NaN,NaN,0.934538,-0.191721
2,2,Michigan Wolverines,Colorado State Rams,2022/2023,Week 1,d4fdbd26-472f-45ed-9616-66b73bb1d0c4,1501304,884f6cf2-001f-44c5-8c76-ad2213f9eac1,3,3,...,True,True,NaN,11.485200,1.267484,{},5.654395,NaN,0.742817,-0.911471
3,3,Michigan Wolverines,Colorado State Rams,2022/2023,Week 1,89f65385-1542-4785-a830-cf3041171375,1501304,884f6cf2-001f-44c5-8c76-ad2213f9eac1,4,4,...,True,True,NaN,1.122874,1.531255,{},2.369795,NaN,-0.168654,-1.467112
4,4,Michigan Wolverines,Colorado State Rams,2022/2023,Week 1,47f1bf06-23c6-495b-83ac-70d041e3052d,1501304,884f6cf2-001f-44c5-8c76-ad2213f9eac1,5,5,...,NaN,NaN,NaN,NaN,NaN,{},NaN,NaN,-1.635766,0.782059

In [8]:
pbp = pbp.iloc[:,1:]
pbp.head()

,offense_team_name,defense_team_name,season,week,play_uuid,game_id,drive_uuid,play_game_index,play_drive_index,play_quarter,...,play_contested_catch_attempt,play_pass_made,play_yards_after_contact,play_target_separation,play_pass_placement_displacement,play_tackle_types,play_catch_separation,play_handoff_received,play_ep,play_scrimmage_epa
0,Michigan Wolverines,Colorado State Rams,2022/2023,Week 1,884f6cf2-001f-44c5-8c76-ad2213f9eac1,1501304,884f6cf2-001f-44c5-8c76-ad2213f9eac1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,{},NaN,NaN,NaN,NaN
1,Michigan Wolverines,Colorado State Rams,2022/2023,Week 1,cfb0895e-02d4-4332-8522-326cd2bfa97b,1501304,884f6cf2-001f-44c5-8c76-ad2213f9eac1,2,2,1,...,NaN,NaN,2.92,NaN,NaN,"{""Assisted - Success"",""Assisted - Success"",""So...",NaN,NaN,0.934538,-0.191721
2,Michigan Wolverines,Colorado State Rams,2022/2023,Week 1,d4fdbd26-472f-45ed-9616-66b73bb1d0c4,1501304,884f6cf2-001f-44c5-8c76-ad2213f9eac1,3,3,1,...,True,True,NaN,11.485200,1.267484,{},5.654395,NaN,0.742817,-0.911471
3,Michigan Wolverines,Colorado State Rams,2022/2023,Week 1,89f65385-1542-4785-a830-cf3041171375,1501304,884f6cf2-001f-44c5-8c76-ad2213f9eac1,4,4,1,...,True,True,NaN,1.122874,1.531255,{},2.369795,NaN,-0.168654,-1.467112
4,Michigan Wolverines,Colorado State Rams,2022/2023,Week 1,47f1bf06-23c6-495b-83ac-70d041e3052d,1501304,884f6cf2-001f-44c5-8c76-ad2213f9eac1,5,5,1,...,NaN,NaN,NaN,NaN,NaN,{},NaN,NaN,-1.635766,0.782059

Let's say that we want to create a new column in our dataframe that defines play quality based on the EPA generated on the play. Then we want to compare play quality between rushing plays and passing plays. The pivot table is a great way to do this:

What do you think the scale of play quality would be?

In [9]:
pbp = pbp[pbp['offense_team_name'] == 'Michigan Wolverines']
pbp = pbp[(pbp['play_type'] == 'Rush') | (pbp['play_type'] == 'Pass')]

We can create a function to assign a category for play quality based on the EPA it generated:

In [11]:
def play_quality_func(EPA):
    if (EPA < -.5):
        return 'abysmal'
    elif ((EPA >= -.5) & (EPA < -.1)):
        return 'bad'
    elif ((EPA >= -.1) & (EPA < .05)):
        return 'decent'
    elif ((EPA >= .05) & (EPA < .5)):
        return 'good'
    else:
        return 'phenominal'

Now we can apply this function to the EPA column in our dataframe to create a new column called play quality:

In [12]:
pbp['play_quality_epa'] = pbp['play_scrimmage_epa'].apply(lambda x: play_quality_func(x))

In [13]:
pbp['play_quality_epa']

1              bad
2          abysmal
3          abysmal
13      phenominal
14      phenominal
           ...
2452    phenominal
2466          good
2467           bad
2469           bad
2470           bad
Name: play_quality_epa, Length: 980, dtype: object

Creating the pivot table:

In [14]:
pt = pbp.pivot_table(values = 'play_scrimmage_epa', index = 'play_type', columns = 'play_quality_epa', aggfunc = [np.mean])

In [15]:
pt.head()

                      mean
play_quality_epa   abysmal       bad    decent      good phenominal
play_type
Pass             -1.289342 -0.340190 -0.020306  0.272224   1.778220
Rush             -1.034579 -0.295655 -0.023104  0.287727   1.490291

Notice that the pivot table allows for easy analysis of the relationship between two variables

* One column is compared to another column as row indices
* The values parameter allows you to choose a column for investigation
* The index parameter specifies which column you want as row indices
* The columns parameter specifies which column you want as your column headers
* The aggfunc parameter specifies what function you want to operate on the values parameter

**That's all for this tutorial! Try to think of some cool ways that you could use pivot tables in your own dataframe!**